In [1]:
import pandas as pd
import numpy as np
from dotenv import load_dotenv
import os
import mysql.connector
from sqlalchemy import create_engine
from mysql.connector import Error
from oauth2client.service_account import ServiceAccountCredentials
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from io import StringIO

In [2]:

scope = ["https://spreadsheets.google.com/feeds",'https://www.googleapis.com/auth/drive']

## Get environment variables
cred_filename = os.getenv("CRED_FILENAME")
folder_id = os.getenv("FOLDER_ID")  # Add the folder ID where the CSV files are stored
# Connection parameters
host = os.getenv("HOST")  # Change if you're connecting remotely
user = os.getenv("USER")  # Your MySQL username
password = os.getenv("PASSWORD")  # Your MySQL password
database = os.getenv("DATABASE")  # The database name you want to create

In [3]:
# Authenticate and create the PyDrive client
def authenticate_gdrive(scope, cred_file):
    cred = ServiceAccountCredentials.from_json_keyfile_name(cred_file, scope)
    gauth = GoogleAuth()
    gauth.credentials = cred
    drive = GoogleDrive(gauth)
    return drive

# Function to read CSV file content from Google Drive into a Pandas DataFrame
def read_csv_from_drive(folder_id, drive):
    # List all files in the folder
    file_list = drive.ListFile({'q': f"'{folder_id}' in parents and trashed=false"}).GetList()
    # print(file_list)
    
    final_df = pd.DataFrame()
    for file in file_list:
        # Get the file's download URL
        test_file = drive.CreateFile({'id': file['id']})
        file_content = test_file.GetContentString()  # Get the file content as string, npt downloaded to local, rather stored as a local variable object
        df = pd.read_csv(StringIO(file_content))  # Read the content into a Pandas DataFrame
        df["City"] = file["title"].split("_")[0]
        df["day_flag"] = file["title"].split("_")[1].split(".")[0]
        
        print(f"Successfully read the file {file["title"]}")
        
        if final_df.empty:
            final_df = df
        else:
            final_df = pd.concat([final_df, df])
    
    return final_df

In [7]:

def create_connection(host_name, user_name, user_password):
    """ Create a database connection to the MySQL server """
    connection = None
    try:
        connection = mysql.connector.connect(
            host=host_name,
            user=user_name,
            password=user_password
        )
        print("Connection to MySQL DB successful")
    except Error as e:
        print(f"The error '{e}' occurred")
    return connection

def create_database(connection, db_name):
    """ Create a new database """
    cursor = connection.cursor()
    try:
        cursor.execute(f"CREATE DATABASE IF NOT EXISTS {db_name}")
        print(f"Database '{db_name}' created successfully")
    except Error as e:
        print(f"The error '{e}' occurred")

def create_table(connection, db_name):
    """ Create a new table in the specified database """
    cursor = connection.cursor()
    cursor.execute(f"USE {db_name}")  # Switch to the newly created database
    create_table_query = """
    CREATE TABLE IF NOT EXISTS airbnb_eu (
        id INT AUTO_INCREMENT PRIMARY KEY,
        realsum DOUBLE,
        room_type VARCHAR(20),
        room_shared BOOLEAN,
        room_private BOOLEAN,
        person_capacity INTEGER,
        host_is_superhost BOOLEAN,
        multi BOOLEAN,
        biz BOOLEAN,
        cleanliness_rating NUMERIC,
        guest_satisfaction_overall NUMERIC,
        bedrooms NUMERIC,
        dist NUMERIC,
        metro_dist NUMERIC,
        lng NUMERIC,
        lat NUMERIC,
        city VARCHAR(100) NOT NULL,
        day_flag VARCHAR(100) NOT NULL
    )
    """
    try:
        cursor.execute(create_table_query)
        print("Table created successfully")
    except Error as e:
        print(f"The error '{e}' occurred")

In [5]:

## Driver Codes    
# Authenticate and get the Google Drive client
drive = authenticate_gdrive(scope, cred_filename)

output_df = read_csv_from_drive(folder_id, drive)

output_df = output_df.drop(columns=["Unnamed: 0"], axis=1)

# Print the first few rows of the DataFrame
print(f"Final data: \n{output_df.head()}")

Successfully read the file budapest_weekdays.csv
Successfully read the file barcelona_weekdays.csv
Successfully read the file berlin_weekends.csv
Successfully read the file berlin_weekdays.csv
Successfully read the file lisbon_weekdays.csv
Successfully read the file paris_weekdays.csv
Successfully read the file rome_weekends.csv
Successfully read the file vienna_weekends.csv
Successfully read the file lisbon_weekends.csv
Successfully read the file barcelona_weekends.csv
Successfully read the file rome_weekdays.csv
Successfully read the file london_weekdays.csv
Successfully read the file vienna_weekdays.csv
Successfully read the file london_weekends.csv
Successfully read the file paris_weekends.csv
Successfully read the file budapest_weekends.csv
Successfully read the file athens_weekends.csv
Successfully read the file amsterdam_weekends.csv
Successfully read the file athens_weekdays.csv
Successfully read the file amsterdam_weekdays.csv
Final data:
      realSum        room_type  room_shared  room_private  person_capacity  \
0  238.990459  Entire home/apt        False         False              6.0
1  300.794285  Entire home/apt        False         False              6.0
2  162.381915  Entire home/apt        False         False              4.0
3  118.437750  Entire home/apt        False         False              2.0
4  134.417446  Entire home/apt        False         False              4.0

   host_is_superhost  multi  biz  cleanliness_rating  \
0               True      0    1                10.0
1              False      0    1                 9.0
2               True      0    0                10.0
3              False      0    0                 9.0
4               True      1    0                10.0

   guest_satisfaction_overall  ...      dist  metro_dist   attr_index  \
0                        99.0  ...  0.359355    0.352643   404.404677
1                        98.0  ...  0.929427    0.200235  1676.876030
2                        98.0  ...  2.450840    0.279452   163.588493
3                        92.0  ...  1.559449    0.477971   191.719844
4                        99.0  ...  1.113803    0.270102   198.603460

   attr_index_norm  rest_index  rest_index_norm       lng       lat      City  \
0        24.116552  893.477343        67.656853  19.05074  47.50076  budapest
1       100.000000  452.539717        34.267700  19.04493  47.50405  budapest
2         9.755551  191.992270        14.538245  19.02170  47.49882  budapest
3        11.433155  326.215588        24.702048  19.06301  47.51126  budapest
4        11.843658  635.515884        48.123218  19.06900  47.49900  budapest

   day_flag
0  weekdays
1  weekdays
2  weekdays
3  weekdays
4  weekdays

[5 rows x 21 columns]

In [21]:

# Create connection
conn = create_connection(host, user, password)

if conn:
    # Create a new database
    create_database(conn, database)

    # Create a new table in the database
    create_table(conn, database)

Connection to MySQL DB successful
Database 'airbnb_masai' created successfully
Table created successfully

In [9]:
# Create the SQLAlchemy engine
engine = create_engine(f"mysql+pymysql://{user}:{password}@{host}/{database}")

# Insert DataFrame into MySQL table
output_df.to_sql('airbnb_eu', con=engine, if_exists='replace', index=False)

print("Successfully wrote the data to SQL table")

Successfully wrote the data to SQL table

In [16]:
output_df2 = output_df.groupby("City",as_index=False).agg({"lng": "mean","lat": "mean","realSum": "sum"})
output_df2

        City        lng        lat       realSum
0  amsterdam   4.890472  52.364637  1.192075e+06
1     athens  23.732031  37.980922  8.012090e+05
2  barcelona   2.169379  41.393495  8.322042e+05
3     berlin  13.399729  52.509110  6.075460e+05
4   budapest  19.061120  47.499287  7.099375e+05
5     lisbon  -9.143792  38.721298  1.372807e+06
6     london  -0.114830  51.503367  3.622155e+06
7      paris   2.343033  48.864343  2.625250e+06
8       rome  12.486139  41.895372  1.854073e+06
9     vienna  16.360856  48.204276  8.544772e+05

In [17]:
def create_table2(connection, db_name):
    """ Create a new table in the specified database """
    cursor = connection.cursor()
    cursor.execute(f"USE {db_name}")  # Switch to the newly created database
    create_table_query = """
    CREATE TABLE IF NOT EXISTS airbnb_city (
        id INT AUTO_INCREMENT PRIMARY KEY,
        city VARCHAR(100) NOT NULL,
        lng NUMERIC,
        lat NUMERIC,
        realsum DOUBLE   
    )
    """
    try:
        cursor.execute(create_table_query)
        print("Table created successfully")
    except Error as e:
        print(f"The error '{e}' occurred")

In [18]:
conn

In [19]:
database

'airbnb_masai'

In [22]:
create_table2(conn, database)

Table created successfully

In [23]:
 # Close the connection
conn.close()

In [ ]:
output_df2.to_sql('airbnb_city', con=engine, if_exists='replace', index=False)